
img{
    width: 100%;
}


.hero-image{
    background-image: url("./images/scotland-1987599_1280.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    text-align: center;
    font-size: 4rem;  /* change the font size to make it smaller  according to page size*/ 
    color: whitesmoke;
    position: absolute;
    top: 244px;
    width: 100%;
}

.two-collumn{
    display: grid;
    grid-template-columns: 5fr 8fr; 
    gap: 50px; 
    width: 80%;
    margin: auto; /* means that the whole 2 collumn div matches up across the page*/
    margin-top: 40px;
}
.info{
    font-size: 1.2rem;
}